<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - TODOLManager</title>
        <link rel="icon" href="{{ asset('images/icon4.png') }}">
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <link href="{{ asset('styles/global.css') }}" rel="stylesheet"/>
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

        <nav class="navbar bg-secondary">

            <div class="navbar-button bg-primary {% block accueilButtonClasses %} {% endblock %}">
                <a class="navbar-link" href="{{ url('home') }}">ACCUEIL</a>
            </div>

            <div class="navbar-button bg-primary {% block agendaButtonClasses %} {% endblock %}">
                <a class="navbar-link" href="{{ url('agenda') }}">Agenda</a>
            </div>

            <div class="navbar-right">
                <p class="navbar-title">Marthym's TODO List Manager<br>V1.0.0</p>
                <img class="navbar-logo bg-secondary" src="{{ asset("images/icon3.png") }}">
            </div>
        </nav>

        <div class="content">
            <div class="title-container">
                <div class="title">
                    <h1 class="title-text">{{ block('title') }}</h1>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>

    </body>
</html>
